.container{
    text-align: center;
    padding: 2%;
    border: 2px solid black 
}

.header{
    background-color: orangered;
    padding: 5px;
    border: 2px solid black;
}

a{
    /* border: 2px solid blue; */
    padding: 0.4rem;
    text-decoration: none;
    font-weight: 500;
    color: white;
    cursor: pointer;
}

.grid-container{
    display: grid;
    /* border: 2px solid black; */
    /* grid-auto-flow: column; */
    /* grid-template-columns: 1fr 1fr 1fr; */
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));

}

.grid-item{
    border: 2px solid black;
    margin: 50px;
    padding: 7px;
    background-color: black;
    text-align: center;
}