<div class="container">
  <div class="header">
    <h1>Welcome to Angular Tutorials</h1>
    <h3>Structural Directives</h3>
  </div>
  
  <!-- <button type="button" class="btn btn-success"><a routerLink="/home">Home</a></button> -->
  <div class="grid-container">
    <div class="grid-item"><a routerLink="/ngfor">ngFor</a></div>
    <div class="grid-item"><a routerLink="/ngif">ngIf</a></div>
    <div class="grid-item"><a routerLink="/ngswitch">ngSwitch</a></div>
  </div>
  <router-outlet></router-outlet>
</div>
