<div class="inbox-list">
    <div class="header">
        <div class="header-item1">All (52)</div>
        <div class="header-item">Unread (4)</div>
    </div>
    <div class="pinned-msg">
        <p>Pinned Messages</p>
    </div>
    <div class="message-area">
        <div class="profile">
            <div class="profile-item">
                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="4" cy="4" r="4" fill="#FAFAFF" />
                </svg>
            </div>
            <div class="profile-item"><img src="https://cdn-icons-png.flaticon.com/512/219/219969.png" alt="">
            </div>
        </div>
        <div class="msg">
            <span class="msg-name">CASE, Justin MD</span>
            <div class="text-area">
                <span class="msg-msg">In sit amet elit tempus, varius sit amet do...</span>
                <span class="msg-time">09:25</span>
            </div>
            <span class="msg-preview-text">Culpa qui officia deserunt mollit? Fusce qui il e...</span>
        </div>
        <div class="pin">
            <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path
                    d="M2 1C2 0.46875 2.4375 0 3 0H11C11.5312 0 12 0.46875 12 1C12 1.5625 11.5312 2 11 2H10.0625L10.4062 6.65625C11.5625 7.28125 12.4688 8.3125 12.9062 9.59375L12.9375 9.6875C13.0312 10 12.9688 10.3438 12.7812 10.5938C12.5938 10.875 12.3125 11 12 11H2C1.65625 11 1.375 10.875 1.1875 10.5938C1 10.3438 0.9375 10 1.03125 9.6875L1.0625 9.59375C1.5 8.3125 2.40625 7.28125 3.5625 6.65625L3.90625 2H3C2.4375 2 2 1.5625 2 1ZM8 12V15C8 15.5625 7.53125 16 7 16C6.4375 16 6 15.5625 6 15V12H8Z"
                    fill="#5770CB" />
            </svg>
        </div>
    </div>
    <div class="pinned-msg">
        <p>Today</p>
    </div>
    <div class="message-area">
        <div class="profile">
            <div class="profile-item">
                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="4" cy="4" r="4" fill="#5770CB" />
                </svg>
            </div>
            <div class="profile-item"><img src="https://cdn-icons-png.flaticon.com/512/219/219969.png" alt="">
            </div>
        </div>
        <div class="msg">
            <span class="msg-name">CASE, Justin MD</span>
            <div class="text-area">
                <span class="msg-msg1">In sit amet elit tempus, varius sit amet d.</span>
                <span class="msg-time1">09:25</span>
            </div>
            <span class="msg-preview-text">Culpa qui officia deserunt mollit? Fusce qui il e...</span>
        </div>
        <div class="pin">
            <!-- <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M2 1C2 0.46875 2.4375 0 3 0H11C11.5312 0 12 0.46875 12 1C12 1.5625 11.5312 2 11 2H10.0625L10.4062 6.65625C11.5625 7.28125 12.4688 8.3125 12.9062 9.59375L12.9375 9.6875C13.0312 10 12.9688 10.3438 12.7812 10.5938C12.5938 10.875 12.3125 11 12 11H2C1.65625 11 1.375 10.875 1.1875 10.5938C1 10.3438 0.9375 10 1.03125 9.6875L1.0625 9.59375C1.5 8.3125 2.40625 7.28125 3.5625 6.65625L3.90625 2H3C2.4375 2 2 1.5625 2 1ZM8 12V15C8 15.5625 7.53125 16 7 16C6.4375 16 6 15.5625 6 15V12H8Z"
                fill="#5770CB" />
        </svg> -->
        </div>
    </div>
    <div class="message-area">
        <div class="profile">
            <div class="profile-item">
                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="4" cy="4" r="4" fill="#5770CB" />
                </svg>
            </div>
            <div class="profile-item"><img src="https://cdn-icons-png.flaticon.com/512/219/219969.png" alt="">
            </div>
        </div>
        <div class="msg">
            <span class="msg-name">ROOPRAI, Raj DO</span>
            <div class="text-area">
                <span class="msg-msg1">In sit amet elit tempus, varius sit amet d.</span>
                <span class="msg-time1">09:05</span>
            </div>
            <span class="msg-preview-text">Culpa qui officia deserunt mollit? Fusce qui il e...</span>
        </div>
        <div class="pin">
            <!-- <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M2 1C2 0.46875 2.4375 0 3 0H11C11.5312 0 12 0.46875 12 1C12 1.5625 11.5312 2 11 2H10.0625L10.4062 6.65625C11.5625 7.28125 12.4688 8.3125 12.9062 9.59375L12.9375 9.6875C13.0312 10 12.9688 10.3438 12.7812 10.5938C12.5938 10.875 12.3125 11 12 11H2C1.65625 11 1.375 10.875 1.1875 10.5938C1 10.3438 0.9375 10 1.03125 9.6875L1.0625 9.59375C1.5 8.3125 2.40625 7.28125 3.5625 6.65625L3.90625 2H3C2.4375 2 2 1.5625 2 1ZM8 12V15C8 15.5625 7.53125 16 7 16C6.4375 16 6 15.5625 6 15V12H8Z"
                fill="#5770CB" />
        </svg> -->
        </div>
    </div>
    <div class="message-area">
        <div class="profile">
            <div class="profile-item">
                <svg width="8" height="8" viewBox="0 0 8 8" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <circle cx="4" cy="4" r="4" fill="#5770CB" />
                </svg>
            </div>
            <div class="profile-item"><img src="https://cdn-icons-png.flaticon.com/512/219/219969.png" alt="">
            </div>
        </div>
        <div class="msg">
            <span class="msg-name">CALABRIA, Brennon RN</span>
            <div class="text-area">
                <span class="msg-msg1">In sit amet elit tempus, varius sit amet d.</span>
                <span class="msg-time1">09:00</span>
            </div>
            <span class="msg-preview-text">Culpa qui officia deserunt mollit? Fusce qui il e...</span>
        </div>
        <div class="pin">
            <!-- <svg width="14" height="16" viewBox="0 0 14 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M2 1C2 0.46875 2.4375 0 3 0H11C11.5312 0 12 0.46875 12 1C12 1.5625 11.5312 2 11 2H10.0625L10.4062 6.65625C11.5625 7.28125 12.4688 8.3125 12.9062 9.59375L12.9375 9.6875C13.0312 10 12.9688 10.3438 12.7812 10.5938C12.5938 10.875 12.3125 11 12 11H2C1.65625 11 1.375 10.875 1.1875 10.5938C1 10.3438 0.9375 10 1.03125 9.6875L1.0625 9.59375C1.5 8.3125 2.40625 7.28125 3.5625 6.65625L3.90625 2H3C2.4375 2 2 1.5625 2 1ZM8 12V15C8 15.5625 7.53125 16 7 16C6.4375 16 6 15.5625 6 15V12H8Z"
                fill="#5770CB" />
        </svg> -->
        </div>
    </div>
    <!-- <div class="pinned-msg">
        <p>Yesterday</p>
    </div> -->
</div>