@mixin heading-font {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    line-height: 17px;
}

// Initial Message Area
.msg-area {
    width: 750px;
    height: 100vh;
    border: 1px solid #C1CDD7;
    position: relative;
    left: 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.msg-header {
    @include heading-font();
    font-weight: 600;
    font-size: 15px;
    padding: 8px;
}

.para {
    @include heading-font();
    font-weight: 400;
    font-size: 14px;
    padding: 8px;
}